@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!doctype html>
<html>
<head>
    <title>Антоша Ткачёв</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/css/staticPage.css" />
</head>
<body>
    @await Html.PartialAsync("Menu")
    <div class="container">
        <h1>Работу выполнил: Антон Ткачев</h1>
        <h1>Номер группы: ИКБО-16-18</h1>
        <h1>Номер индивидуального задания: 10</h1>
        <h2>
            Наибольший общий делитель (НОД) чисел (пример: 3430 и 1365 — это 35.
            Другими словами, 35 — наибольшее число, на которое и 3430 и 1365 делятся без
            остатка). Числа должны поступать в виде строки с некоторым разделителем.
        </h2>
    </div>
</body>
</html>